/**
 * Ataa Slider.
 * by NetMechanics
 * Eng\ Mahmoud Alghool
 * www.netmechanics.net
 * info@netmechanics.net
 */

#slider-holder{
    position: relative;
}

#moveRight{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    z-index: 99;
    cursor: pointer;
}

#moveLeft{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 99;
    cursor: pointer;
}

#openImage{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 60%;
    z-index: 99;
    cursor: pointer;
}

#slider-holder, #images-holder, #control-holder{
    width: 100%;
    overflow: hidden;
}

#images-holder, #control-holder{
    margin: 20px 0px;
}

#images-holder{
    position: relative;
}

#images-holder .slide{
    position: absolute;
    width: 60%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

#images-holder .slide:not(.active){
    padding-top: 50px;
}


#slider-holder .img-holder{
    overflow: hidden;
    height: 100%;
}

#slider-holder .img-holder img{
    height: 100%;
    width: 100%;
}

.first-image,.last-image{
    z-index: -1;
}

#control-holder>div{
    display: inline-table;
    position: relative;
}

#slider-holder .left-holder, #slider-holder .right-holder{
    width: 20%;
    height: 100%;
}

#slider-holder .main-holder{
    width: 60%;
    text-align: center;
    height: 0;
}


#control-holder i{
    position: absolute;
    font-size: x-large;
}

#slider-holder .first{
    opacity: 0;
}

#slider-holder .second{
    opacity: 1;
}

#slider-holder .first.right{
    left:0px;
}

#slider-holder .second.right{
    left:50%;
}

#slider-holder .first.left{
    right:0px
}

.second.left{
    right:50%;
}

#slider-holder{
    position: relative;
}

#slider-holder .img-name{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px auto;
    background-color: rgba(255, 251, 251, 0.5);
    padding: 5px 10px;
}

#image-show{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

#image-show img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image-show .image-close{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
}




body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    color: #222;
    background: #474747;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    max-width: 100%;
    background: #222; /*FallBack*/
    background: rgba(0,0,0,.6);
    padding: 20px;
}
nav{
    width: 100%;
    margin-bottom: 1em;
    background: #323232;
    font-family: 'Poiret One', cursive;
}

.logo{
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    font-family: 'Poiret One', cursive;
}

ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #fff;
    text-align: center;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

.nav-item{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
    -webkit-transition: background .5s;
    transition: background .5s
}

.nav-item:hover{
    background: #474747;
    cursor: pointer;
}